##############################
# Build folders
##############################
bin/
obj/

##############################
# Visual Studio
##############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##############################
# Rider
##############################
.idea/

##############################
# VS Code
##############################
.vscode/

##############################
# NuGet
##############################
packages/
*.nupkg

##############################
# Logs
##############################
*.log

##############################
# Test Results
##############################
TestResults/

##############################
# Temporary files
##############################
*.tmp
*.cache

##############################
# OS Files
##############################
.DS_Store
Thumbs.db
Desktop.ini